// Header

.navbar-fixed-top {
  border: 0;
}
.navbar-brand {
  position: relative;
  padding: 1.25rem 15px 0;

  img {
    height: 2.5rem;
  }
}

.navbar-toggle {
  margin-right: 5px;
}

.navbar-nav {
  @include breakpoint(md) {
    float: right;
  }

  > li > a {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
}

.contact-btn {
  @include breakpoint(md) {
    margin: 0.75rem 0 0 1rem;
    float: right;
  }
}
